 
        a:hover {
            background-color: #f8f9fa;
        }

        .css-1v8yyhn {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin: 0 0 0 40px;
            z-index: 475;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            align-content: stretch;
            justify-content: flex-end;
            flex-wrap: nowrap;
        }

        .css-1v1v7wxz {
            background-position: 0 0;
            width: 24px;
            height: 24px;
            background-image: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/888f62a8.svg);
            background-size: 100% auto;
            background-repeat: no-repeat;
            transition: transform 0.3s ease;
        }

        .css-1v1v7wx {
            background-position: 40% 40%;
            width: 24px;
            height: 24px;
            background-image: url(https://assets.tokopedia.net/assets-tokopedia-lite/v2/zeus/kratos/888f62a8.svg);
            background-size: 100% auto;
            background-repeat: no-repeat;
            transition: transform 0.3s ease;
        }

        .css-a0uk68 {
            min-width: 20px;
            min-height: 20px;
            color: var(--NN0, #FFFFFF);
            font-size: 10px;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            display: none;
            background-color: var(--RN600, #E02954);
            border: 2px solid var(--NN0, #FFFFFF);
            border-radius: 18px;
            position: absolute;
            top: 0px;
            right: 2px;
            padding: 0px 4px;
            transform: translate(10%, -8%);
        }

        .css-a0uk68z {
            min-width: 20px;
            min-height: 20px;
            color: var(--NN0, #FFFFFF);
            font-size: 10px;
            font-weight: 700;
            line-height: 1.6;
            display: none;
            text-align: center;
            background-color: var(--RN600, #E02954);
            border: 2px solid var(--NN0, #FFFFFF);
            border-radius: 18px;
            position: absolute;
            top: 0px;
            right: 2px;
            padding: 0px 4px;
            transform: translate(10%, -8%);
        }

        .css-f6vcps:hover {
            background-color: #f0f3f7;
            border-radius: 8px;
        }

        .css-f6vcps {
            width: 40px;
            height: 40px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f1f1f1;
            min-width: 250px;
            top: 80%;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
            display: block;
        }
 